.bounce:hover {
  animation: bounce 1s; /* solo cuando ponga el mouse encima*/
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.Backgroundscroll {
  background-image: url('https://cdn.wallpapersafari.com/85/37/SenDPw.jpg');
  background-size: 100% auto;
  background-position-y: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  aspect-ratio: 16/9;
  padding-top: 120px;
  padding-left: 0;
  padding-right: 0;
  align-items: center; 
}
.Bgimage {

  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  padding-top: 120px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 80px;
  align-items: center; 
}
@media screen and (min-width:567px){
.cwrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card{
  width: calc(100%/3);
}
}
.carousel-indicators [data-bs-target] {
  background-color: #000 !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000 !important;
  border-radius: 50%;
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width:567px){
  .card:not(:first-child){
    display:none
  }
  .card:first-child {
    width: 80%;
    position: center;
  }
}

.main{
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
}

.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
}

.container-fluid{
  place-content: center;
  margin-left: 10%;
}

.btn-nav{
  background-color: #808080;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

.navbar-nav{
  width: 100%;
  gap: 5%;
  place-content: center;
}

.navbar {
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1030;
}

.carousel-inner img {
  height: 600px;
  object-fit: cover;
  background-color: #D9D9D9;
}

.body-title{
  color: #000;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

#about-us{
  border-radius: 40px;
}

.text-body{
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
}
.card-form{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

.benef-table{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

.card-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

.compare-card{
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}